.hero {
  margin-top: 8rem;
}

.hero__title1 {
  font-size: 3rem;
  letter-spacing: -0.5px;
}

.hero__title2 {
  font-size: 3rem;
  letter-spacing: -0.5px;
  line-height: 20px;
  margin-bottom: 2rem;
}

.hero__description1 {
  font-size: 1.3rem;
}

.hero__description2 {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}
